body{
	background-color: #ADD8E6;
}
h2{
	text-align: center;
}
label{
	display: block;
	margin: 10px;
	padding-left: 30%;
}
.amount{
	background-color : yellow;
	text-align: center;
	color: blue;
	font-weight: 800;
}
select{
	width: 25%;
}
.isSelected{
	color: blue;
	background-color: #0bcd0b;
}